### Importation tableaux et librairies

In [1]:
import pandas as pd
import numpy as np

# Divers
from utils import dataframe_info, racine_projet

In [2]:
df = pd.read_csv(racine_projet()+'/data/raw/merged_data.csv', low_memory = False)

### Infos & head

In [71]:
dataframe_info(df)

,Column,Non-Null Count,NaN Count,NaN Percentage,Dtype,Example Value
0,IncidentNumber,2338168,0,0.00,int64,235138081
1,ResourceMobilisationId,2338168,0,0.00,int64,38427
2,Resource_Code,2338168,0,0.00,object,H212
3,PerformanceReporting,2338168,0,0.00,object,2
4,DateAndTimeMobilised,2338168,0,0.00,datetime64[ns],2009-01-01 00:02:27
5,DateAndTimeMobile,2338168,0,0.00,datetime64[ns],2009-01-01 00:06:40
6,DateAndTimeArrived,2338168,0,0.00,datetime64[ns],2009-01-01 00:08:09
7,TurnoutTimeSeconds,2338033,135,0.01,float64,253.0
8,TravelTimeSeconds,2337944,224,0.01,float64,89.0
9,AttendanceTimeSeconds,2338168,0,0.00,int64,342
10,DateAndTimeLeft,2295948,42220,1.81,object,2009-01-01 00:12:17
11,DateAndTimeReturned,952204,1385964,59.28,object,2009-01-01 00:12:17
12,DeployedFromStation_Code,2338148,20,0.00,object,H21
13,DeployedFromStation_Name,2338148,20,0.00,object,Clapham
14,DeployedFromLocation,2337092,1076,0.05,object,Home Station
15,PumpOrder,2338168,0,0.00,int64,2
16,PlusCode_Code,2338168,0,0.00,object,Initial
17,PlusCode_Description,2338168,0,0.00,object,Initial Mobilisation
18,DelayCodeId,580008,1758160,75.19,float64,12.0
19,DelayCode_Description,580008,1758160,75.19,object,Not held up
20,DateOfCall,2338168,0,0.00,object,2009-01-01
21,CalYear,2338168,0,0.00,int64,2009
22,TimeOfCall,2338168,0,0.00,object,00:00:37
23,HourOfCall,2338168,0,0.00,int64,0
24,IncidentGroup,2338168,0,0.00,object,Special Service
25,StopCodeDescription,2338168,0,0.00,object,Special Service
26,SpecialServiceType,503316,1834852,78.47,object,RTC
27,PropertyCategory,2338168,0,0.00,object,Road Vehicle
28,PropertyType,2338168,0,0.00,object,Car
29,AddressQualifier,2338168,0,0.00,object,In street close to gazetteer location
30,Postcode_full,1072523,1265645,54.13,object,SW11 4LB
31,Postcode_district,2338168,0,0.00,object,SW11
32,UPRN,2182644,155524,6.65,float64,100021491527.0
33,USRN,2154247,183921,7.87,float64,21401491.0
34,IncGeo_BoroughCode,2338168,0,0.00,object,E09000032
35,IncGeo_BoroughName,2338168,0,0.00,object,WANDSWORTH
36,ProperCase,2338168,0,0.00,object,Wandsworth
37,IncGeo_WardCode,2337721,447,0.02,object,E05014010
38,IncGeo_WardName,2337721,447,0.02,object,Battersea Park
39,IncGeo_WardNameNew,2337721,447,0.02,object,Battersea Park
40,Easting_m,1072523,1265645,54.13,float64,528652.0
41,Northing_m,1072523,1265645,54.13,float64,176830.0
42,Easting_rounded,2338168,0,0.00,int64,528650
43,Northing_rounded,2338168,0,0.00,int64,176850
44,Latitude,1072523,1265645,54.13,float64,51.475812
45,Longitude,1072523,1265645,54.13,float64,-0.148894
46,FRS,2338168,0,0.00,object,London
47,IncidentStationGround,2338166,2,0.00,object,Battersea
48,FirstPumpArriving_AttendanceTime,2338168,0,0.00,float64,319.0
49,FirstPumpArriving_DeployedFromStation,2338150,18,0.00,object,Battersea
50,SecondPumpArriving_AttendanceTime,1393697,944471,40.39,float64,342.0
51,SecondPumpArriving_DeployedFromStation,1393680,944488,40.39,object,Clapham
52,NumStationsWithPumpsAttending,2338168,0,0.00,float64,2.0
53,NumPumpsAttending,2338168,0,0.00,float64,2.0
54,PumpCount,2338168,0,0.00,int64,2
55,PumpMinutesRounded,2338168,0,0.00,int64,60
56,Notional Cost (£),2338168,0,0.00,int64,255
57,NumCalls,2336862,1306,0.06,float64,1.0
58,DateAndTimeCalled,2338168,0,0.00,datetime64[ns],2009-01-01 00:00:37

### Memoire utilisée

In [5]:
# Afficher l'utilisation de la mémoire pour chaque colonne
memory_usage = df.memory_usage(deep=True)
memory_usage_sorted = memory_usage.sort_values(ascending=False)
print("\nColonnes classées par utilisation de la mémoire:")
print(memory_usage_sorted)

Colonnes classées par utilisation de la mémoire:
PropertyType                              208866487
AddressQualifier                          196685911
PlusCode_Description                      182178988
DateAndTimeMobilised                      179811440
DateAndTimeArrived                        179811440
DateAndTimeMobile                         178589472
DateAndTimeLeft                           177773052
IncGeo_WardNameNew                        164778375
IncGeo_WardName                           164778366
DeployedFromLocation                      163286075
PropertyCategory                          160217475
StopCodeDescription                       160155929
IncidentGroup                             159642810
DateOfCall                                158517980
IncGeo_BoroughName                        157790500
ProperCase                                157790500
IncGeo_BoroughCode                        156152040
IncGeo_WardCode                           156136842
DeployedFromStation_Name                  154999411
FirstPumpArriving_DeployedFromStation     154993461
IncidentStationGround                     154948856
TimeOfCall                                153786100
PlusCode_Code                             151388124
FRS                                       149054220
Resource_Code                             144322332
Postcode_district                         142178554
DeployedFromStation_Code                  141955760
PerformanceReporting                      138541899
SecondPumpArriving_DeployedFromStation    122960862
DateAndTimeReturned                       118430604
Postcode_full                             110721458
DelayCode_Description                      99964165
SpecialServiceType                         96530083
Notional Cost (£)                          18927520
Longitude                                  18927520
PumpMinutesRounded                         18927520
FirstPumpArriving_AttendanceTime           18927520
PumpCount                                  18927520
NumPumpsAttending                          18927520
SecondPumpArriving_AttendanceTime          18927520
Northing_rounded                           18927520
NumStationsWithPumpsAttending              18927520
Latitude                                   18927520
NumCalls                                   18927520
Easting_rounded                            18927520
Northing_m                                 18927520
Easting_m                                  18927520
USRN                                       18927520
UPRN                                       18927520
IncidentNumber                             18927520
HourOfCall                                 18927520
CalYear                                    18927520
DelayCodeId                                18927520
PumpOrder                                  18927520
AttendanceTimeSeconds                      18927520
TravelTimeSeconds                          18927520
TurnoutTimeSeconds                         18927520
ResourceMobilisationId                     18927520
Index                                           132
dtype: int64

### Distribution / value counts

In [6]:
for i in df.columns :
    print(df[i].value_counts())
    print('-------------------------------------')

IncidentNumber
5366607052021    13
9095323072020    11
2712623022023    11
879615012024      9
166704012019      9
                 ..
66472151          1
66471151          1
66465151          1
66462151          1
6790330042024     1
Name: count, Length: 1569258, dtype: int64
-------------------------------------
ResourceMobilisationId
38426      1
5461271    1
5461386    1
5461388    1
5461389    1
          ..
4257700    1
4257701    1
4257702    1
4257704    1
6645201    1
Name: count, Length: 2365940, dtype: int64
-------------------------------------
Resource_Code
A242    45523
A231    40943
A241    30783
A212    28501
F241    28337
        ...
C92         1
C82         1
C42         1
C72         1
C52         1
Name: count, Length: 187, dtype: int64
-------------------------------------
PerformanceReporting
1           1569258
2            608485
Not Used     188197
Name: count, dtype: int64
-------------------------------------
DateAndTimeMobilised
2013-01-29 09:44:49    9
2017-12-10 03:44:11    8
2023-10-09 14:06:56    8
2016-08-31 12:25:31    7
2020-03-25 04:23:45    7
                      ..
2017-08-11 10:48:44    1
2011-08-07 22:34:40    1
2017-08-11 10:57:19    1
2011-08-07 22:27:26    1
2024-04-29 23:59:36    1
Name: count, Length: 1592876, dtype: int64
-------------------------------------
DateAndTimeMobile
2016-05-02 17:03:19    5
2024-03-19 19:52:47    4
2019-07-09 18:43:02    4
2011-03-03 10:10:48    4
2011-04-19 06:43:18    4
                      ..
2014-03-19 02:58:43    1
2014-03-19 02:57:06    1
2014-03-19 02:40:37    1
2014-03-19 02:17:58    1
2024-04-30 00:02:20    1
Name: count, Length: 2319010, dtype: int64
-------------------------------------
DateAndTimeArrived
2010-04-26 20:02:27    4
2010-11-22 06:53:35    4
2022-11-14 01:53:04    4
2011-09-26 14:06:54    4
2012-07-23 21:26:39    4
                      ..
2014-02-24 19:46:03    1
2014-02-24 19:42:27    1
2014-02-24 19:39:39    1
2014-02-24 19:34:41    1
2024-04-30 00:04:26    1
Name: count, Length: 2350650, dtype: int64
-------------------------------------
TurnoutTimeSeconds
69.0      32762
67.0      32756
68.0      32645
70.0      32635
71.0      32624
          ...
660.0         1
767.0         1
668.0         1
1072.0        1
938.0         1
Name: count, Length: 887, dtype: int64
-------------------------------------
TravelTimeSeconds
215.0     8377
201.0     8158
195.0     8154
204.0     8144
220.0     8140
          ...
1190.0       1
1198.0       1
1164.0       1
1187.0       1
1162.0       1
Name: count, Length: 1192, dtype: int64
-------------------------------------
AttendanceTimeSeconds
296     8296
298     8277
275     8220
297     8185
312     8160
        ...
1139      34
1183      33
1169      33
1189      32
0          7
Name: count, Length: 1201, dtype: int64
-------------------------------------
DateAndTimeLeft
2022-11-25 21:12:00    5
2021-06-10 10:50:08    5
2023-09-11 20:13:14    4
2018-10-11 13:41:06    4
2018-05-22 06:57:30    4
                      ..
2014-05-18 17:55:21    1
2014-05-18 17:56:40    1
2014-05-18 17:51:14    1
2014-05-18 17:50:37    1
2024-04-30 00:25:57    1
Name: count, Length: 2307368, dtype: int64
-------------------------------------
DateAndTimeReturned
2011-05-18 19:33:43    4
2011-08-12 03:47:12    4
2012-10-22 06:50:02    4
2011-08-07 11:08:23    4
2012-10-06 08:42:33    4
                      ..
2010-12-02 23:45:12    1
2010-12-02 23:56:32    1
2010-12-02 23:57:44    1
2010-12-02 23:30:01    1
2017-05-27 15:55:00    1
Name: count, Length: 958891, dtype: int64
-------------------------------------
DeployedFromStation_Code
A24    76407
A21    54326
H22    45649
G36    45179
G27    43021
       ...
BUK        2
S20        1
N28        1
HTS        1
S37        1
Name: count, Length: 118, dtype: int64
-------------------------------------
DeployedFromStation_Name
Soho                76407
Paddington          54326
Lambeth             45649
Hammersmith         45179
North Kensington    43021
                    ...
Buckinghamshire         2
Esher                   1
Staines                 1
Hertfordshire           1
Fordbridge              1
Name: count, Length: 118, dtype: int64
-------------------------------------
DeployedFromLocation
Home Station     2285569
Other Station      79209
Name: count, dtype: int64
-------------------------------------
PumpOrder
1     1569258
2      608485
3      123821
4       39171
5       23834
6        1077
7         200
8          76
9          10
11          3
10          3
12          1
13          1
Name: count, dtype: int64
-------------------------------------
PlusCode_Code
Initial    2357931
add           4105
rca           3904
Name: count, dtype: int64
-------------------------------------
PlusCode_Description
Initial Mobilisation            2357931
Addition to first attendance       4105
Running call                       3904
Name: count, dtype: int64
-------------------------------------
DelayCodeId
12.0    347006
9.0     114207
8.0      36422
5.0      35186
7.0      19051
11.0      9630
13.0      9080
10.0      7037
6.0       2989
3.0       2738
Name: count, dtype: int64
-------------------------------------
DelayCode_Description
Not held up                           347006
Traffic, roadworks, etc               114207
Traffic calming measures               36422
Address incomplete/wrong               35186
Arrived but held up - Other reason     19051
Mob/Radio problems when mobilised       9630
On outside duty when mobilised          9080
Weather conditions                      7037
Appliance/Equipment defect              2989
At drills when mobilised                2738
Name: count, dtype: int64
-------------------------------------
DateOfCall
2022-12-19    1009
2018-03-03     989
2016-06-23     824
2022-12-17     772
2022-08-13     759
              ...
2014-11-04     113
2014-06-12      81
2014-12-09      78
2015-02-25      36
2024-04-30      31
Name: count, Length: 5596, dtype: int64
-------------------------------------
CalYear
2023    185643
2022    179392
2009    174749
2010    163531
2021    158425
2019    154163
2018    153137
2011    152773
2020    149774
2017    147615
2012    145095
2016    144145
2013    136717
2015    131791
2014    126873
2024     62117
Name: count, dtype: int64
-------------------------------------
TimeOfCall
18:15:26    76
18:52:18    74
17:29:12    74
18:24:07    74
18:23:58    73
            ..
05:24:01     1
04:04:01     1
05:10:06     1
05:06:41     1
05:30:53     1
Name: count, Length: 86389, dtype: int64
-------------------------------------
HourOfCall
19    148012
18    147425
17    141676
20    137852
16    130637
15    125418
13    124774
21    123960
14    123784
12    120171
11    116235
22    109357
10    108374
9     101413
23     93584
8      83087
0      78667
1      64290
7      61981
2      52854
3      46539
6      45285
4      41188
5      39377
Name: count, dtype: int64
-------------------------------------
IncidentGroup
False Alarm        1378773
Special Service     515369
Fire                471798
Name: count, dtype: int64
-------------------------------------
StopCodeDescription
AFA                               1037977
Special Service                    515364
False alarm - Good intent          303695
Primary Fire                       297720
Secondary Fire                     173073
False alarm - Malicious             37101
Chimney Fire                          801
Late Call                             204
Use of Special Operations Room          5
Name: count, dtype: int64
-------------------------------------
SpecialServiceType
Effecting entry/exit               111541
Flooding                           100341
RTC                                 90484
No action (not false alarm)         41114
Lift Release                        34809
Assist other agencies               22020
Making Safe (not RTC)               17942
Spills and Leaks (not RTC)          16468
Hazardous Materials incident        13601
Advice Only                         10238
Animal assistance incidents          9846
Medical Incident                     9428
Other rescue/release of persons      8153
Removal of objects from people       6651
Other Transport incident             6261
Evacuation (no fire)                 5328
Suicide/attempts                     4833
Stand By                             2356
Medical Incident - Co-responder      2109
Rescue or evacuation from water      1709
Water provision                       132
Name: count, dtype: int64
-------------------------------------
PropertyCategory
Dwelling             1263541
Non Residential       480090
Other Residential     180738
Outdoor               168581
Road Vehicle          156223
Outdoor Structure     109228
Rail Vehicle            2915
Aircraft                2894
Boat                    1730
Name: count, dtype: int64
-------------------------------------
PropertyType
Purpose Built Flats/Maisonettes - 4 to 9 storeys         302098
House - single occupancy                                 282000
Purpose Built Flats/Maisonettes - Up to 3 storeys        227709
Self contained Sheltered Housing                         160642
Purpose Built Flats/Maisonettes - 10 or more storeys     105118
                                                          ...
Greenhouse (commercial) polytunnel                            2
Milking Parlour                                               2
Military helicopter                                           1
Sea                                                           1
Military plane                                                1
Name: count, Length: 292, dtype: int64
-------------------------------------
AddressQualifier
Correct incident location                          1404265
Within same building                                501227
In street outside gazetteer location                140559
On land associated with building                    129873
In street close to gazetteer location                90936
Open land/water - nearest gazetteer location         53114
Nearby address - street not listed in gazetteer      14655
Nearby address - no building in street               10143
In street remote from gazetteer location              9709
On motorway / elevated road                           8216
Railway land or rolling stock                         3243
Name: count, dtype: int64
-------------------------------------
Postcode_full
SW17 0QT    3542
NW3 2QG     1962
SE18 4QH    1722
SE13 6LH    1711
NW3 2PF     1664
            ...
E8 3HX         1
W1C 2LE        1
TN16 3SJ       1
SW4 7DX        1
SW4 8NB        1
Name: count, Length: 116150, dtype: int64
-------------------------------------
Postcode_district
CR0     47851
SE1     39260
E1      37647
NW1     34174
E14     32165
        ...
W1P         1
EC2         1
EC17        1
E4A         1
W1N         1
Name: count, Length: 324, dtype: int64
-------------------------------------
UPRN
0.000000e+00    1276417
1.000233e+11       2490
5.087826e+06       1826
5.155897e+06       1644
1.001020e+10       1466
                 ...
1.000832e+10          1
5.870048e+09          1
1.000398e+10          1
1.000215e+11          1
2.000012e+11          1
Name: count, Length: 269746, dtype: int64
-------------------------------------
USRN
8400481.0     5065
22004177.0    3815
8401890.0     3812
22900509.0    3782
8400159.0     3606
              ...
21401835.0       1
22403897.0       1
20602699.0       1
8100384.0        1
20502652.0       1
Name: count, Length: 53028, dtype: int64
-------------------------------------
IncGeo_BoroughCode
E09000033    175225
E09000007    118823
E09000028    108495
E09000030    107832
E09000022    102242
E09000012     94347
E09000008     91792
E09000023     85703
E09000032     79743
E09000003     79082
E09000020     78618
E09000009     78398
E09000025     77892
E09000017     75897
E09000019     75068
E09000005     71426
E09000013     70299
E09000011     69562
E09000010     69466
E09000014     67189
E09000006     63890
E09000031     63404
E09000018     58338
E09000026     54075
E09000016     47453
E09000002     46447
E09000004     45561
E09000015     41685
E09000029     37982
E09000024     37402
E09000027     36789
E09000021     31961
E09000001     23854
Name: count, dtype: int64
-------------------------------------
IncGeo_BoroughName
WESTMINSTER               175225
CAMDEN                    118823
SOUTHWARK                 108495
TOWER HAMLETS             107832
LAMBETH                   102242
HACKNEY                    94347
CROYDON                    91792
LEWISHAM                   85703
WANDSWORTH                 79743
BARNET                     79082
KENSINGTON AND CHELSEA     78618
EALING                     78398
NEWHAM                     77892
HILLINGDON                 75897
ISLINGTON                  75068
BRENT                      71426
HAMMERSMITH AND FULHAM     70299
GREENWICH                  69562
ENFIELD                    69466
HARINGEY                   67189
BROMLEY                    63890
WALTHAM FOREST             63404
HOUNSLOW                   58338
REDBRIDGE                  54075
HAVERING                   47453
BARKING AND DAGENHAM       46447
BEXLEY                     45561
HARROW                     41685
SUTTON                     37982
MERTON                     37402
RICHMOND UPON THAMES       36789
KINGSTON UPON THAMES       31961
CITY OF LONDON             23854
Name: count, dtype: int64
-------------------------------------
ProperCase
Westminster               175225
Camden                    118823
Southwark                 108495
Tower Hamlets             107832
Lambeth                   102242
Hackney                    94347
Croydon                    91792
Lewisham                   85703
Wandsworth                 79743
Barnet                     79082
Kensington And chelsea     78618
Ealing                     78398
Newham                     77892
Hillingdon                 75897
Islington                  75068
Brent                      71426
Hammersmith And fulham     70299
Greenwich                  69562
Enfield                    69466
Haringey                   67189
Bromley                    63890
Waltham Forest             63404
Hounslow                   58338
Redbridge                  54075
Havering                   47453
Barking And dagenham       46447
Bexley                     45561
Harrow                     41685
Sutton                     37982
Merton                     37402
Richmond Upon thames       36789
Kingston Upon thames       31961
City Of london             23854
Name: count, dtype: int64
-------------------------------------
IncGeo_WardCode
E05013808    37692
E05013806    28822
E05013570    17887
E05013653    16938
E05013662    16303
             ...
E05000201        1
E05000463        1
E05000370        1
E05000308        1
E05000481        1
Name: count, Length: 893, dtype: int64
-------------------------------------
IncGeo_WardName
West End                   32543
St. James's                24458
Heathrow Villages          15117
Bloomsbury                 14660
Holborn & Covent Garden    14170
                           ...
STREATHAM SOUTH                1
BEDDINGTON SOUTH               1
BISHOP'S                       1
NEW CROSS                      1
Shirley South                  1
Name: count, Length: 1481, dtype: int64
-------------------------------------
IncGeo_WardNameNew
West End                   32543
St. James's                24458
Heathrow Villages          15117
Bloomsbury                 14660
Holborn & Covent Garden    14170
                           ...
BEDDINGTON SOUTH               1
Shirley South                  1
BISHOP'S                       1
NEW CROSS                      1
East Ham North                 1
Name: count, Length: 1478, dtype: int64
-------------------------------------
Easting_m
527297.0    2419
526925.0    2226
532605.0    1453
535570.0    1399
537874.0    1303
            ...
516283.0       1
555797.0       1
506894.0       1
556991.0       1
556869.0       1
Name: count, Length: 51416, dtype: int64
-------------------------------------
Northing_m
185410.0    2424
171324.0    2231
174681.0    1528
176101.0    1410
185335.0    1318
            ...
200554.0       1
157811.0       1
159429.0       1
199764.0       1
193114.0       1
Name: count, Length: 39867, dtype: int64
-------------------------------------
Easting_rounded
529350    14590
532450    14521
530650    14251
532650    14164
529750    14036
          ...
560450        3
560550        2
560650        1
560950        1
561150        1
Name: count, Length: 573, dtype: int64
-------------------------------------
Northing_rounded
181150    22556
178450    21371
181250    20079
181050    19749
180950    19598
          ...
200950        4
155950        2
156650        1
156550        1
156150        1
Name: count, Length: 447, dtype: int64
-------------------------------------
Latitude
51.553227    2165
51.426718    2030
51.468349    1374
51.550626    1295
0.000000     1275
             ...
51.460333       1
51.530374       1
51.490546       1
51.614926       1
51.533794       1
Name: count, Length: 527124, dtype: int64
-------------------------------------
Longitude
-0.165298    2165
-0.175721    2030
-0.092281    1374
-0.046072    1295
 0.000000    1282
             ...
 0.075279       1
-0.124049       1
-0.452418       1
-0.297432       1
-0.318879       1
Name: count, Length: 529622, dtype: int64
-------------------------------------
FRS
London    2365940
Name: count, dtype: int64
-------------------------------------
IncidentStationGround
Soho           73407
Paddington     63545
Euston         52835
Lambeth        49514
Shoreditch     42898
               ...
Purley         10156
Millwall        9875
Hainault        8222
Wennington      6984
Biggin Hill     3048
Name: count, Length: 102, dtype: int64
-------------------------------------
FirstPumpArriving_AttendanceTime
266.0     9898
273.0     9855
275.0     9849
255.0     9838
268.0     9822
          ...
1186.0      13
1127.0      13
1187.0      12
1178.0      11
1147.0      11
Name: count, Length: 1200, dtype: int64
-------------------------------------
FirstPumpArriving_DeployedFromStation
Soho                70434
Paddington          60253
Lambeth             45179
Euston              44719
North Kensington    43074
                    ...
Dartford                4
Staines                 2
Fordbridge              2
Hertfordshire           1
Buckinghamshire         1
Name: count, Length: 117, dtype: int64
-------------------------------------
SecondPumpArriving_AttendanceTime
347.0    5164
318.0    5154
346.0    5133
320.0    5107
356.0    5091
         ...
81.0       16
59.0       16
34.0       15
30.0       12
23.0       10
Name: count, Length: 1200, dtype: int64
-------------------------------------
SecondPumpArriving_DeployedFromStation
Paddington          39438
Soho                37991
Hammersmith         35111
Lambeth             33129
North Kensington    30837
                    ...
Wennington           1241
Silvertown           1074
Biggin Hill           784
Esher                   2
Buckinghamshire         2
Name: count, Length: 114, dtype: int64
-------------------------------------
NumStationsWithPumpsAttending
1.0     1262033
2.0      817517
3.0      152647
4.0       76593
5.0       52103
6.0        3638
7.0         871
8.0         298
9.0          65
10.0         41
11.0         35
13.0         26
12.0         22
14.0         22
15.0         11
16.0          6
46.0          3
17.0          3
18.0          2
20.0          2
23.0          1
19.0          1
Name: count, dtype: int64
-------------------------------------
NumPumpsAttending
2.0      979768
1.0      890337
3.0      290044
5.0      122338
4.0       72982
6.0        7412
7.0        1332
8.0        1160
9.0         179
10.0        118
11.0         55
14.0         52
12.0         41
13.0         30
15.0         15

------------

### Exploration variables de temps

On essaie de comparer les différentes valeurs de temps présentes.

In [66]:
df = df.dropna(subset=["DateAndTimeMobile"])

In [67]:
df['DateAndTimeCalled']= df['DateOfCall']+ [' '] + df['TimeOfCall']

df['DateAndTimeCalled']= pd.to_datetime(df['DateAndTimeCalled'])
df['DateAndTimeMobilised'] = pd.to_datetime(df['DateAndTimeMobilised'])
df['DateAndTimeMobile'] = pd.to_datetime(df['DateAndTimeMobile'])
df['DateAndTimeArrived'] = pd.to_datetime(df['DateAndTimeArrived'])

-------------

Compréhension de 'DateAndTimeCalled'

In [60]:
dif_1 = (df['DateAndTimeMobilised'] - df['DateAndTimeCalled']) 
print('somme de la diff ', dif_1.sum()) # pourquoi est-ce négatif ???
print('moy de la diff ' , dif_1.mean())
print('std de la diff ' , dif_1.std())

test = (dif_1 > pd.Timedelta(0)).value_counts()
print(test)

somme de la diff  -56988 days +02:56:04.000002048
moy de la diff  -1 days +23:24:54.183550541
std de la diff  0 days 00:38:17.514465568
False    1755051
True      583117
Name: count, dtype: int64

In [61]:
dif_2 = (df['DateAndTimeMobile']- df['DateAndTimeCalled'])
print('somme de la diff ', dif_2.sum()) # pourquoi est-ce négatif ???
print('moy de la diff ' , dif_2.mean())
print('std de la diff ' , dif_2.std())

test = (dif_2 > pd.Timedelta(0)).value_counts()
print(test)

somme de la diff  -54834 days +15:01:40
moy de la diff  -1 days +23:26:13.796793045
std de la diff  0 days 00:38:18.433523604
False    1385957
True      952211
Name: count, dtype: int64

In [62]:
dif_3 = (df['DateAndTimeArrived']-df['DateAndTimeCalled']) 
print('somme de la diff ', dif_3.sum()) # pourquoi est-ce négatif ???
print('moy de la diff ' , dif_3.mean())
print('std de la diff ' , dif_3.std())

test = (dif_3 > pd.Timedelta(0)).value_counts()
print(test)

somme de la diff  -47439 days +22:40:49
moy de la diff  -1 days +23:30:47.068666153
std de la diff  0 days 00:38:23.788068329
False    1385890
True      952278
Name: count, dtype: int64

-------------------

Compréhension de DateAndtime Mobilised/Mobile/arrived

In [68]:
dif_4 = (df['DateAndTimeArrived'] - df['DateAndTimeMobilised'])
print('somme de la diff ', dif_4.sum())
print('moy de la diff ' , dif_4.mean())
print('std de la diff ' , dif_4.std())

test = (dif_4 > pd.Timedelta(0)).value_counts()
print(test)

somme de la diff  9549 days 19:44:45
moy de la diff  0 days 00:05:52.885115611
std de la diff  0 days 00:02:31.987168023
True    2338168
Name: count, dtype: int64

In [65]:
dif_5 = (df['DateAndTimeMobile'] - df['DateAndTimeMobilised'])
print('somme de la diff ', dif_5.sum())
print('moy de la diff ' , dif_5.mean())
print('std de la diff ' , dif_5.std())

test = (dif_5 > pd.Timedelta(0)).value_counts()
print(test)
test = (dif_5.abs().dt.total_seconds().astype(int) == df.TurnoutTimeSeconds).value_counts()
print(test)

somme de la diff  2154 days 12:05:36
moy de la diff  0 days 00:01:19.613242504
std de la diff  0 days 00:00:44.461368386
True     2338005
False        163
Name: count, dtype: int64
True     2338033
False        135
Name: count, dtype: int64

In [64]:
dif_6 = (df['DateAndTimeArrived'] - df['DateAndTimeMobile'])
print('somme de la diff ', dif_6.sum())
print('moy de la diff ' , dif_6.mean())
print('std de la diff ' , dif_6.std())

test = (dif_6 > pd.Timedelta(0)).value_counts()
print(test)
test = (dif_6.abs().dt.total_seconds().astype(int) == df.TravelTimeSeconds).value_counts()
print(test)

somme de la diff  7395 days 07:39:09
moy de la diff  0 days 00:04:33.271873107
std de la diff  0 days 00:02:30.431672798
True     2337152
False       1016
Name: count, dtype: int64
True     2337944
False        224
Name: count, dtype: int64

In [50]:
(df.TurnoutTimeSeconds < 0).value_counts()

TurnoutTimeSeconds
False    2365940
Name: count, dtype: int64

In [51]:
(df.TravelTimeSeconds < 0).value_counts()

TravelTimeSeconds
False    2365940
Name: count, dtype: int64